<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="form-gap"></div>
<div class="container">
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                   <h2 class="text-center">Welcome</h2>
                    <p>Login Here</p>
                    <div class="panel-body">
                        <form action = "" method = "post">
                          <label>USERNAME</label><br>
                          <input name ="username" type = "email" placeholder="enter email"><br><br>
                            <label>PASSWORD</label><br>
                          <input name = "password" type = "password" placeholder="enter password"><br><br>
                          <input type = "submit" value = "LOGIN"><br><br>
                        </form>
                    </div>
                    <div class="panel-body">
                    <form action = "/new"></form>
                  <label> New Here ?</label>
                    <input value = "Register" type = "submit" onclick = "window.location.href='http://127.0.0.1:5000/register';"</input>
                    <form action = "/new"></form>
                    <label> Forgot Password?</label>
                    <button onclick = "window.location.href='http://127.0.0.1:5000/forgotpassword';">Forgot Password</button>

                    </form>

                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</body>
</html>