<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div>
  <form action = "" method = "post">
    <label>USERNAME</label><br>
    <input name ="username" type = "email" placeholder="enter email"><br><br>
    <label>PASSWORD</label><br>
    <input name = "password" type = "password" placeholder="enter password"><br><br>
    <input type = "submit" value = "LOGIN"><br><br>
  </form>
</div>
<div>
  <form action = "/new"></form>
  <label> New Here ?</label>
  <button onclick = "window.location.href='http://127.0.0.1:5000/register';">Sign Up</button>
  <form action = "/new"></form>
  <label> Forgot Password?</label>
  <button onclick = "window.location.href='http://127.0.0.1:5000/forgotpassword';">Forgot Password</button>
  <h1 style="color:red"> EMAIL OR PASSWORD NOT VALID ! </h1>

  </form>

  </form>
</div>
</body>
</body>
</html>